body
{
    background: url(images/backgrounds/p1r1.jpg) no-repeat center center fixed;
    background-color: black;
    position: relative;
    font-family: "Jersey 10";
    color: white;
    width: 1200px;
    height: 750px;
    overflow: hidden;
}

#alert-msg
{
    position: absolute;
    top: 40%;
    left: 42%;
    z-index: 1;
}

#ok
{
    position: absolute;
    left: 43.25%;
    bottom: 19%;
    color: #ff000ddf;
    font-size: 28px;
    width: 12%;
    text-align: center;
    background: none;
    border: none;
}

#ok:hover
{
    background-color: #ff000ddf;
    color: #CFD7A5;
}

.success-rates
{
    position: absolute;
    color: white;
    display: flex;
    top: 26.5%;
    left: 41.75%;
    gap: 369px;
}

.player-turn
{
    position: absolute;
    top: 42%;
    left: 53%;
    font-size: 24px;
}

#game
{
    position: absolute;
    top: 42%;
    left: 53%;
    font-size: 24px;
    display: none;
}

#start
{
    position: absolute;
    background: none;
    color: white;
    border: none;
    font-size: 32px;
    top: 67%;
    left: 55%;
}

#start:hover
{
    color: #47CDD1;
}

#exit
{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 77%;
    left: 31%;
    z-index: 1;
}

#exit-game
{
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    text-decoration: none;
}

#exit-game:hover
{
    color: #47CDD1;
}

header
{
    position: relative;
    top: 1%;
    left: 51%;
    font-size: 32px;
    width: 550px;
    height: 20px;
    letter-spacing: 2px;
    color: #47CDD1;
}

#guide
{
    position: absolute;
    top: 18%;
    left: 85%;
    z-index: 1;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 44%;
    font-family: "The Girl Next Door";
}

footer a
{
    color: orange;
    text-decoration: none;
}

#overlay
{
    position: fixed;
    top: 21.05%;
    left: 25.7%;
    width: 688px;
    height: 485px;
    background: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    display: none;
}

#visa-card
{
    position: absolute;
    top: 22%;
    left: 33.5%;
}

.approve-deny
{
    display: flex;
    gap: 35px;
    position: absolute;
    top: 76%;
    left: 62%;
}

#approve-btn
{
    background: none;
    border: none;
    position: relative;
}

#deny-btn
{
    background: none;
    border: none;
    position: relative;

}

#approve p
{
    position: absolute;
    top: 63%;
    left: 11%;
}

#approve p:hover
{
    color: #4AC628;
}

#deny p:hover
{
    color: #C62828;
}

#deny p
{
    position: absolute;
    top: 63%;
    left: 73.5%;
}

#timer-circle
{
    position: relative;
}

#seconds
{
    position: absolute;
    top: -48%;
    left: 20%;
    font-size: 64px;
}

#timer
{
    position: absolute;
    top: 2%;
    left: 2%;
}

.correct-aura {
    box-shadow: 0px 0px 20px 10px rgba(74, 198, 40, 0.8);
    transition: box-shadow 0.5s ease-in-out;
}

.incorrect-aura {
    box-shadow: 0px 0px 20px 10px rgba(198, 40, 40, 0.8);
    transition: box-shadow 0.5s ease-in-out;
}