h1, h2, h3, p, ul
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style-type: none;
}

ul li a
{
    text-decoration: none;
}

ul li a:hover
{
    color: fuchsia;
}

img
{
    max-width: 100%;
    height: auto;
    display: block;
}

body
{
    font-family: "The Girl Next Door";
    color:whitesmoke;
    background-color:black;
    background-image: url(images/full-face.svg);
    background-repeat: no-repeat;
    background-position: top 5em left 16.75em;
}

.leye
{
    position: relative;
    left: 36.75em;
    top: 1em;
    animation: eyeanimation1 400ms infinite;
}

.reye
{
    position: relative;
    left: 46.2em;
    top: -3em;
    animation: eyeanimation2 400ms infinite;
}

.tongue-og
{
    position: relative;
    left: 40.6em;
    top: 2.5em;
}

h1
{
    color:fuchsia;
    position: relative;
    bottom: 1em;
    line-height: 35px;
    position: relative;
    top: 0.1em;
    transition: 0.5s ease-in-out;
}

h1:hover
{
    font-size: 10em;
}

footer a:visited, footer a:active, footer a:link
{
    color: orange;
}

h1, h2, footer
{
    text-align: center;
}

h2
{
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 4em;
}

h3 
{
    color:chartreuse;
    font-size: 1.5em;
}

a:visited, a:active, a:link
{
    color:chartreuse;
}

.tagline
{
    display: flex;
    place-content: center;
}

.research
{
    transform: rotate(15deg);
    text-align: center;
    position: relative;
    right: 25em;
    top: -10em;
}

.madlibs
{
    transform: rotate(-20deg);
    position: relative;
    right: 16em;
    top: -10em;
    text-align: center;
}

.every-picture
{
    transform: rotate(20deg);
    position: relative;
    top: -22em;
    left: 17em;
    text-align: center;
}

.game-on
{
    transform: rotate(-15deg);
    text-align: center;
    position: relative;
    bottom: 41em;
    left: 28em;
} 

footer
{
    position: relative;
    bottom: 29.5em;
}

@keyframes eyeanimation1
{
    0%
    {
        transform: rotate(0deg);
        animation-timing-function: ease-in;
    }
    25%
    {
        transform: rotate(90deg);
        animation-timing-function: linear;
    }
    50%
    {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    75%
    {
        transform: rotate(270deg);
        animation-timing-function: linear;
    }
    100%
    {
        transform: rotate(360deg);
        animation-timing-function: ease-out;
    }
}

@keyframes eyeanimation2
{
    0%
    {
        transform: rotate(360deg);
        animation-timing-function: ease-in;
    }
    25%
    {
        transform: rotate(270deg);
        animation-timing-function: linear;
    }
    50%
    {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    75%
    {
        transform: rotate(90deg);
        animation-timing-function: linear;
    }
    100%
    {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
}