h1, h2, h3, p, ul
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style-type: none;
}

img
{
    max-width: 100%;
    height: auto;
    display: block;
}

body
{
    font-family: "The Girl Next Door";
    color:whitesmoke;
    background-color:black;
}

h1, footer a
{
    color:fuchsia;
}

h1, h2, footer
{
    text-align: center;
}

h3
{
    color:chartreuse;
}

.tagline
{
    display: flex;
    flex: 1;
    padding: 100px;
}

/* .research
{

}

.madlibs
{

}

.every-picture
{

}

.game-on
{

} */