ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

.line-segment
{
    text-decoration: underline;
}

body
{
    background-image: url(images/glowing-wood.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#exit ul li a:link, #exit ul li a:visited, #exit ul li a:active
{
    color:antiquewhite;
}

header, h2, h3, h4
{
    font-family: "MedievalSharp"
}

header span, h2 span, h3 span
{
    font-family: "harbour-decor", sans-serif;
}

header span
{
    font-size: 80px;
}

header
{
    position: absolute;
    top: 5%;
    left: 90%;
}

#exit, #overlay .close
{
    font-family: "alketa demo";
    transition: text-shadow ease-in-out 0.25s;
    transition: font-size ease-in-out 0.25s;
}

#exit:hover, #overlay .close:hover
{
    text-shadow: 2px 2px 5px antiquewhite;
    font-size: 18px;
}

#content-line
{
    display: flex;
}

#spellbook
{
    color: #BF882C;
}

#spellbook-title
{
    position: absolute;
}

#madlibs
{
    color: black;
}

form ul li
{
    font-family: "Carrois Gothic SC";
    padding: 7.5px;
}

input
{
    background: transparent;
}

.border-img 
{ 
    border: 10px solid transparent;
    padding: 0;
    border-image: url(images/entry-border.png) 60 stretch;
}

.page-nav
{
    display: flex;
    gap: 125px;
    position: absolute;
}

.hidden
{
    display: none;
}

#overlay
{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay div
{
    display: flex;
}

#overlay #preface, #overlay #contents
{
    box-sizing: border-box;
    position: absolute;
    width: 32.35vw;
    height: 59.67vh;
    font-family: "Eagle Lake"
}

#preface p span
{
    font-size: 16px;
}

#contents ul li span
{
    font-family: "MedievalSharp";
}

#wand
{

}

#wand:hover
{
    
}
