img
{
    max-width: 100%;
    height: auto;
    display: block;
}

a
{
  text-decoration: none;
}

.hidden
{
    display: none;
}

.uc-container 
{
    position: relative;
    width: 333px; 
    height: 420px; 
}
  
#unicorn-cat 
{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fadeMove 5s forwards;
}

@keyframes fadeMove 
{
    0% 
    {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        filter: brightness(1);
    }
    50% 
    {
        opacity: 0.5;
        transform: translate(50vw, 50vh) scale(1.5);
        filter: brightness(2);
    }
    100% 
    {
        opacity: 0;
        transform: translate(100vw, 100vh) scale(0);
        filter: brightness(3);
    }
}

.flag-container 
{
    width: 476px;
    height: 333px; 
    overflow: hidden;
    animation: wave 5s infinite;
}
  
@keyframes wave 
{
    0% { transform: translateX(0) translateY(0); }
    25% { transform: translateX(-10px) translateY(5px); }
    50% { transform: translateX(0) translateY(10px); }
    75% { transform: translateX(10px) translateY(5px); }
    100% { transform: translateX(0) translateY(0); }
}
  
.tardis-container:hover
{
    width: 332px; 
    height: 530px; 
    animation: spinFade 3s forwards;
}
  
@keyframes spinFade 
{
    0% 
    {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% 
    {
      opacity: 0;
      transform: rotate(360deg);
    }
}
  
.loki-container 
{
    position: relative;
    width: 300px; 
    height: 400px; 
}
  
#green-aura 
{
  position: absolute;
  top: 85px;
  left: 50px;
  width: 75%;
  height: 90%;
  background: radial-gradient(circle, rgba(0,255,0,1), transparent);
  animation: auraExpand 5s forwards;
}

@keyframes auraExpand 
{
  0% 
  {
    opacity: 0;
    transform: scale(1);
  }
  50% 
  {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% 
  {
    opacity: 1;
    transform: scale(1.5);
  }
}

.chihuahua-container 
{
  position: relative;
}

#new-quote
{
  position: absolute;
  top: 180px;
  left: 100px;
  animation: flash 3s infinite;
  opacity: 1;
}

/* ------------------------------------------------------ */

#epcode-v1
{
  background-image: url(images/background.jpg);
  background-size: cover;
  width: 1200px;
  height: 750px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color:aqua;
  letter-spacing: 2px;
  position: relative;
}

header
{
  padding-left: 20px;
  font-size: 14px;
  width: 600px;
}

.pod2, .pod3, .pod4, .pod5
{
  width: 13%;
  height: 13%;
}

.pod1
{
  position: absolute;
  left: 45%;
  top: 18%;
}

#uc-pod
{
  position: relative;
}

#uni-cat
{
  position: absolute;
  bottom: 10%;
  left: 17%;
  z-index: -1;
}

.pod2
{
  position: absolute;
  left: 27%;
  top: 30%;
}

#dw-pod
{
  position: relative;
}

#doctor-who
{
  width: 83px;
  height: 140px;
  position: absolute;
  bottom: 13%;
  left: 23%;
  z-index: -1;
}

.pod3
{
  position: absolute;
  left: 37%;
  top: 8%;
  z-index: -1;
}

#loki
{
  width: 82px;
  height: 131px;
  position: absolute;
  top: 98%;
  left: 24%;
  z-index: -1;
}

.pod4
{
  position: absolute;
  left: 63%;
  top: 8%;
  z-index: -1;
}

#taco
{
  width: 93px;
  height: 130px;
  position: absolute;
  top: 98%;
  left: 20%;
  z-index: -1;
}

.pod5
{
  position: absolute;
  left: 72%;
  top: 30%;
  z-index: -1;
}

#ldr
{
  width: 100px;
  height: 75px;
  position: absolute;
  top: 100%;
  left: 17%;
  z-index: -1;
}

#exit
{
  position: absolute;
  top: 0%;
  right: -15%;
}

#exit a
{
  position: absolute;
  left: 20%;
  top: 103%;
  font-size: 24px;
  transition: all 0.75s;
}

#exit a:visited, #exit a:link
{
  color: black;
}

#exit a:hover
{
  color: aqua;
}

button
{
  position: absolute;
  bottom: 7%;
  left: 51%;
  transition: all 0.5s;
  background: none;
  border: none;
  color: aqua;
  font-size: 36px;
}

button:hover
{
  text-shadow: rgba(219,203,175,1) 0px 0px 20px;
}

#uc-overlay, #dw-overlay, #l-overlay, #t-overlay, #ldr-overlay
{
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#uc-overlay img
{
  position: absolute;
  top: 10%;
  left: 37%;
  width: 25%;
  height: auto;
  animation: fadeMove 5s forwards;
}

@keyframes spinFade 
{
    0% 
    {
      opacity: 1;
      transform: rotate(0deg) translateX(-500px) translateY(75px);
    }
    50% 
    {
      opacity: 0;
      transform: rotate(-270deg) translateX(500px) translateY(-700px);
    }
    100%
    {
      opacity: 1;
      transform: rotate(360deg) translateX(0px) translateY(-150px);
    }
}

#dw-overlay img
{
  position: absolute;
  top: 10%;
  left: 37%;
  width: 25%;
  height: auto;
  animation: spinFade 1.5s infinite;
}

@keyframes disappear
{
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

#l-overlay img
{
  position: absolute;
  top: 7%;
  left: 37%;
  width: 25%;
  height: auto;
  animation: disappear 7s forwards;
}

#l-overlay p
{
  left: 36.5%;
  text-align: center;
}

#t-overlay img
{
  position: absolute;
  top: 10%;
  left: 37%;
  width: 25%;
  height: auto;
}

#t-overlay p
{
  left: 37%;
  text-align: center;
}

#ldr-overlay img
{
  position: absolute;
  top: 25%;
  left: 37%;
  width: 25%;
  height: auto;
  animation: wave 3s infinite;
}

#ldr-overlay p
{
  left: 41.5%;
}

p
{
  color: rgb(237, 228, 210);
  position: absolute;
  bottom: 15%;
  left: 39%;
  width: 25%;
}

.close
{
  color: rgb(237, 228, 210);
  position: absolute;
  bottom: 5%;
  left: 45%;
  transition: all 0.5s;
  font-size: 30px;
}

.close:hover
{
  text-shadow: rgba(219,203,175,1) 0px 0px 20px;
}

/* source: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

.firework, .firework::before, .firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 100vmin;
  --particleSize: 2vmin;
  --color1: gold;
  --color2: red;
  --color3: white;
  --color4: blue;
  --color5: green;
  --color6: rgb(179, 60, 125);
  --y: -50vmin;
  --x: -50%;
  --initialY: 70vmin;
 
  content: "";
  animation: firework 3s infinite;
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  
  background: 
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
   
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;

  transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg);
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  animation: fireworkPseudo 2s infinite;
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;

  transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  animation: fireworkPseudo 2s infinite;
}